window {
margin: 0px;
border: 2px solid #66d9ef;
background-color: #272822;
font-family: "JetBrains Mono";
}

#input {
margin: 5px;
border: none;
color: #f8f8f2;
background-color: #474842;
}

#inner-box {
margin: 5px;
border: none;
background-color: #272822;
}

#outer-box {
margin: 5px;
border: none;
background-color: #272822;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #f8f8f2;
}

#entry:selected {
background-color: #474842;
}
